<!doctype html>

<head>
    <title>Test</title> 
    <meta charset=utf-8> 
    <img src="static/audioUp.jpg" alt="audioUp">
    <img src="static/audioDown.jpg" alt="audioDown">
    <img src="static/audioMute.jpg" alt="audioMute">
    <img src="static/netflix.png" alt="netflix">
    <img src="static/youtube.jpg" alt="youtube">
    <img src="static/power.png" alt="power">
    <img src="static/play.png" alt="play">
    <img src="static/pause.png" alt="pause">
    <img src="static/rewind.png" alt="rewind">
    <img src="static/ff.jpg" alt="ff">
    <img src="static/input.png" alt="input">
</head>
    <body>
        <h1>LG TV remote-controller website</h1>
        <h3>Volume: {{current_volume}} {{Muted}}</h3>
        <h3>Inputs: {{current_input}}</h3>
        <button style="background: url(static/audioDown.jpg)" > <a href="/vol-down/">Volume Down</a></button>
        <button class="audioUp"> <a href="/vol-up/">Volume Up</a></button>
        <button class="audioMute"> <a href="/mute/"> Mute</a></button>
        <button class="netflix"> <a href="/netflix/">Netflix</a></button>
        <button class="youtube"> <a href="/youtube/">Youtube</a></button>
        <button class="power"> <a href="/power/">Power</a></button>
        <button class="play"> <a href="/play/">Play</a></button>
        <button class="pause"> <a href="/pause/">Pause</a></button>
        <button class="rewind"> <a href="/rewind/">Rewind</a></button>
        <button class="ff"> <a href="/fast-forward/">Fast-forward</a></button>
        <button class="input"> <a href="/inputs/">Inputs</a></button>
        <button class="ch up"> <a href="/chup/">ch up</a></button>
        <button class="ch down"> <a href="/chdown/">ch down</a></button>

        <button class="ch1"><a href="/ch1/">1</a></button>
        <button class="ch2"><a href="/ch2/">2</a></button>
        <button class="ch3"><a href="/ch3/">3</a></button>
        <button class="ch4"><a href="/ch4/">4</a></button>
        <button class="ch5"><a href="/ch5/">5</a></button>
        <button class="ch6"><a href="/ch6/">6</a></button>
        <button class="ch7"><a href="/ch7/">7</a></button>
        <button class="ch8"><a href="/ch8/">8</a></button>
        <button class="ch9"><a href="/ch9/">9</a></button>
        <button class="ch0"><a href="/ch0/">0</a></button>
        
    </body>