<!doctype html>

<head>
    <title>Test</title> 
    <meta charset=utf-8> 
    <img src="audioUp.jpg" alt="audioUp">
    <img src="audioDown.jpg" alt="audioDown">
    <img src="audioMute.jpg" alt="audioMute">
    <img src="netflix.png" alt="netflix">
    <img src="youtube.jpg" alt="youtube">
    <img src="power.png" alt="power">
    <img src="play.png" alt="play">
    <img src="pause.png" alt="pause">
    <img src="rewind.png" alt="rewind">
    <img src="ff.jpg" alt="ff">
    <img src="input.png" alt="input">
</head>
    <body>
        <h1>LG TV remote-controller website</h1>
        <h3>Volume: {{current_volume}} {{Muted}}</h3>
        <h3>Inputs: {{current_input}}</h3>
        <button class="audioDown" > <a href="/vol-down/">Volume Down</a></button>
        <button class="audioUp"> <a href="/vol-up/">Volume Up</a></button>
        <button class="audioMute"> <a href="/mute/"> Mute</a></button>
        <button class="netflix"> <a href="/netflix/">Netflix</a></button>
        <button class="youtube"> <a href="/youtube/">Youtube</a></button>
        <button class="power"> <a href="/power/">Power</a></button>
        <button class="play"> <a href="/play/">Play</a></button>
        <button class="pause"> <a href="/pause/">Pause</a></button>
        <button class="rewind"> <a href="/rewind/">Rewind</a></button>
        <button class="ff"> <a href="/fast-forward/">Fast-forward</a></button>
        <button class="input"> <a href="/inputs/">Inputs</a></button>

    </body>